.hero {
    border-radius: 10px;
    position: relative;
    text-align: center;
    padding: 150px;
    margin-left: 50px;
    margin-right: 50px;
    background: url('images/Elden-Header.jpg') no-repeat center center/cover;
}

.header h1 {
    font-size: 80px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
}
.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.promo-card {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    position: absolute; 
    top: 20%; 
    right: 7%; 
    transform: translateY(-20%); 
    padding: 5px 2px;
}

.promo-card img {
    max-width: 50%;
    border-radius: 10px;
    align-items: center;
    display: flexbox;
    margin: 1px;
    padding: 1px;
}

.promo-text {
    text-align: center;
}

.promo-text h2 {
    font-size: 15px;
    margin: 10px 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.promo-text button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.store {
    padding: 20px;
}

.store h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.game-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.game-item img {
    max-width: 100%;
    border-radius: 10px;
}

.game-item h3 {
    font-size: 18px;
    margin: 10px 0;
}

.game-item button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
